# Find the income using Support Vector Machines!

### From the link to adult.zip download the data set.

In [23]:
# Pandas is used for data manipulation
import pandas as pd

# Read in data and display first 5 rows
train_features = pd.read_csv('/Users/sapatil/Downloads/submission_2/train_data.csv')
test_features = pd.read_csv('/Users/sapatil/Downloads/submission_2/test.csv')

### Observe Data - Categorical Varilables / Continuous Variables

In [26]:
train_features.head(5)

,age,workclass,fnlwgt,education,education-num,marital_status,occupation,relationshop,race,sex,capital-gain,capital-loss,hours-per-week,native_country,col14
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

### Prepare Training, Test Features & Lables for  RF fit

In [2]:
# Use numpy to convert to arrays
import numpy as np

# Labels are the values we want to predict
labels = np.array(test_features['col14'])
train_labels= pd.DataFrame(labels)

labels= np.array(test_features['col14'])
test_labels = pd.DataFrame(labels)

# Remove the labels from the features
# axis 1 refers to the columns
train_features= test_features.drop('col14', axis = 1)
# axis 1 refers to the columns
test_features= test_features.drop('col14', axis = 1)

### Prepossessing

In [3]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
balance_data = train_features.apply(le.fit_transform)
balance1_data = test_features.apply(le.fit_transform)

In [4]:
ytrue= train_labels.apply(le.fit_transform)
prediction= test_labels.apply(le.fit_transform)

### Random Forest Fit

In [5]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model with 10 decision trees
rf = RandomForestRegressor(n_estimators = 10, random_state = 42)

# Train the model on training data
rf.fit(balance_data, ytrue);

/Users/sapatil/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

### Take note of prediction accuracy score

In [6]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
y_pred=rf.predict(balance1_data)
i=0
for x in y_pred:
    if x>=0.5:
        y_pred[i]=1
        i=i+1
    else:
        y_pred[i]=0
        i=i+1

In [7]:
accuracy_score(prediction, y_pred)

0.9906633906633907

# Now SVM Fit

###  Prepare Trainin & Test

In [30]:
# Pandas is used for data manipulation
import pandas as pd

# Read in data and display first 5 rows
train_features = pd.read_csv('train_data.csv')
test_features = pd.read_csv('test.csv')
train_features.head(5)

,age,workclass,fnlwgt,education,education-num,marital_status,occupation,relationshop,race,sex,capital-gain,capital-loss,hours-per-week,native_country,col14
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

### Transform Categorical data into numbers!

In [9]:
train_features['sex']=train_features.sex.astype("category").cat.codes
train_features['race']=train_features.race.astype("category").cat.codes
train_features['relationshop']=train_features.relationshop.astype("category").cat.codes
train_features['occupation']=train_features.occupation.astype("category").cat.codes
train_features['marital_status']=train_features.marital_status.astype("category").cat.codes
train_features['native_country']=train_features.native_country.astype("category").cat.codes

In [10]:
train_features['col14']=train_features.col14.astype("category").cat.codes

In [11]:
test_features['sex']=test_features.sex.astype("category").cat.codes
test_features['race']=test_features.race.astype("category").cat.codes
test_features['relationshop']=test_features.relationshop.astype("category").cat.codes
test_features['occupation']=test_features.occupation.astype("category").cat.codes
test_features['col14']=test_features.col14.astype("category").cat.codes
test_features['marital_status']=test_features.marital_status.astype("category").cat.codes
test_features['native_country']=test_features.native_country.astype("category").cat.codes

In [12]:
test_features['education']=test_features.education.astype("category").cat.codes
test_features['workclass']=test_features.workclass.astype("category").cat.codes

### Observed Features post conversion

In [13]:
train_features.head()

,age,workclass,fnlwgt,education,education-num,marital_status,occupation,relationshop,race,sex,capital-gain,capital-loss,hours-per-week,native_country,col14
0,50,Self-emp-not-inc,83311,Bachelors,13,2,4,0,4,1,0,0,13,39,0
1,38,Private,215646,HS-grad,9,0,6,1,4,1,0,0,40,39,0
2,53,Private,234721,11th,7,2,6,0,2,1,0,0,40,39,0
3,28,Private,338409,Bachelors,13,2,10,5,2,0,0,0,40,5,0
4,37,Private,284582,Masters,14,2,4,5,4,0,0,0,40,39,0

### Scale your attributes!

In [14]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
train_features = train_features.apply(le.fit_transform)

In [15]:
train_features.head()

,age,workclass,fnlwgt,education,education-num,marital_status,occupation,relationshop,race,sex,capital-gain,capital-loss,hours-per-week,native_country,col14
0,33,6,2925,9,12,2,4,0,4,1,0,0,12,39,0
1,21,4,14085,11,8,0,6,1,4,1,0,0,39,39,0
2,36,4,15335,1,6,2,6,0,2,1,0,0,39,39,0
3,11,4,19354,9,12,2,10,5,2,0,0,0,39,5,0
4,20,4,17699,12,13,2,4,5,4,0,0,0,39,39,0

### Pre-processing for SVM Fit

In [16]:
# Use numpy to convert to arrays
import numpy as np

# Labels are the values we want to predict
labels = np.array(train_features['col14'])
train_labels= pd.DataFrame(labels)

labels= np.array(test_features['col14'])
test_labels = pd.DataFrame(labels)

# Remove the labels from the features
# axis 1 refers to the columns
train_features= train_features.drop('col14', axis = 1)
# axis 1 refers to the columns
test_features= test_features.drop('col14', axis = 1)

In [17]:
ytrue= train_labels.apply(le.fit_transform)
prediction= test_labels.apply(le.fit_transform)

In [18]:
# Labels are the values we want to predict
labels = np.array(ytrue)

In [19]:
labels

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [1]])

### SVM Fit

In [20]:
from sklearn import svm
# Create a linear SVM classifier 
clf = svm.SVC(kernel='rbf', C=1, gamma=1) 
#clf = svm.SVC(kernel='linear')
# Train classifier 
clf.fit(train_features,labels)

/Users/sapatil/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

### Note SVM Score

In [21]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
y_pred=clf.predict(test_features)
accuracy_score(prediction, y_pred)

0.7637592137592137

### Conclusion: Random Forest outperform SVM.